@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
body {
    /* background-image: url(https://cdn.imgchest.com/files/j7mmcrexg76.png);
    background-repeat: no-repeat; */
    max-width: 1240px;
    font-size: 2rem;
    font-family: "Anton SC", sans-serif;
    
}
/* .container > * {
    border: 2px dashed blue;
} */
.container {
    display: grid;
    width: 100%;
    margin: 0px 50px;
    position: relative;
    grid-template-rows: minmax(10px, 80px) minmax(100px, 550px) minmax(30px, 230px) minmax(30px, 300px) minmax(30px, 330px) minmax(100px, 640px);
    grid-template-columns: minmax(50px, 280px) minmax(300px, 930px);
    /* gap: 20px; */
    grid-template-areas: 
    "boxone boxsix"
    "boxfive boxeigth"
    "boxtwo boxfour"
    "boxtwo boxthree"
    ". boxthree"
    "boxseven boxseven"
    ;
}
.buttonMenu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.box1 {
    grid-area: boxone;
    display: flex;
    background-color: black;
    color: white;
    font-size: 12px;
    align-items: center;
}
.box1 .box1-logo {
    flex-basis: 100px;
    display: flex;
    justify-content: center;
}
.box2 {
    grid-area: boxtwo;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: black !important;
    font-size: 18px;
}
.box2 .content1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 
.box2 .content1 .facebook-icon {
    flex-basis: 40px;
    display: flex;
    align-items: center;
}
.box2 .content1 .twitter-icon {
    flex-basis: 40px;
    display: flex;
    align-items: center;
}
.box2 .content1 .instagram-icon {
    flex-basis: 40px;
    display: flex;
    align-items: center;
}
.box2 .content1 .hero-text {
    display: none;
}
.box2 .content1 *:hover {
    background-color: black;
    color: white;
    border-radius: 3px;
    padding-left: 5px;
    transition: 2ms;
}
.box2 .content2 {
    display: flex;
    flex-direction: column;
}
.box2 .content2 .email-icon {
    flex-basis: 40px;
    display: flex;
    align-items: center;
}
.box2 .content2 .email-address {
    display: none;
}
.box2 .content2 .email-icon:hover {
    color: white;
    background-color: black;
    border-radius: 3px;
    padding-left: 5px;
    transition: 2ms;
    animation-delay: 1ms;
}
.box2 .content2 .call-icon {
    flex-basis: 40px;
    display: flex;
    align-items: center;
}
.box2 .content2 .call-icon:hover {
    color: white;
    background-color: black;
    border-radius: 3px;
    padding-left: 5px;
    transition: 2ms;
}
.box2 .content2 .call-number {
    display: none;
}
.box3 {
    grid-area: boxthree;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.News-section {
    flex-basis: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.News-section img {
    max-width: 110px;
    max-height: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 7px;
    font-size: 16px;
}
.News-section > .product-column-one .news-one-date, .news-two-date, .news-three-date{
    padding-top: 9px;
    padding-left: 7px;
    font-size: 11px;
    color: gray;
}
.News-section > .product-column-one .news-one-title, .news-two-title, .news-three-title {
    font-size: 13px;
    font-weight: bolder;
    padding-top: 7px;
    padding-left: 6px;
    color: black;
    line-height: 20px;
}
.News-section .product-column-three {
    display: flex;
    justify-content: start;
}
.News-section .product-column-two {
    display: flex;
    justify-content: start;
}
.News-section .product-column-one {
    display: flex;
    justify-content: start;
}
.news-logo {
    flex-basis: 100px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
}
.news-logo p {
    border-bottom: 3px solid black;
    color: black;
}
.box3 .more-news-logo {
    font-size: 16px;
    flex-basis: 37px;
    display: flex;
    justify-content: center;
    color: gray;
    gap: 10px;
}

.box3 .more-news-text:hover, .more-news-icon:hover {
    color: black;
    transition: 1ms;
}
.box4 {
    grid-area: boxfour;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: bolder;
    color: black !important;
    margin-top: 20px;
    margin-left: 20px;
}
.box5 {
    grid-area: boxfive;
    display: flex;
    justify-content: end;
    margin-top: 20px;
    position: relative;
}
.box6 {
    grid-area: boxsix;
    display: flex;
    justify-content: end;
    font-size: 18px;
    align-items: center;
    background-color: black;
    color: white;
}
.box6 .RU-icon {
    flex-basis: 50px;
}
.box6 .Search-Icon {
    flex-basis: 40px;
}
.box7 {
    grid-area: boxseven;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 13px;
}
.box7 .AR-DEP-List {
    flex-basis: 75px;
    display: flex;
    font-size: 20px;
}

.box7 .AR-DEP-List .Departure {
    flex-basis: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
}
.box7 .AR-DEP-List .Arrival {
    flex-basis: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box7 .AR-DEP-List .Arrival:hover {
    background-color: #323233;
    color: white;
}
.box7 .AR-DEP-List .Full-list {
    flex-basis: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box7 .AR-DEP-List .Full-list:hover {
    background-color: #323233;
    color: white;
}
.box7 .flight-search-box {
    flex-basis: 75px;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    gap: 30px;
}
.box7 .flight-search-box .search-form {
    flex-basis: 800px;
    display: flex;
    justify-content: start;
}
.box7 .flight-search-box .search-form input {
    width: 100%;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: white;
    border: 0;
}
.box7 .flight-search-box .search-flight-logo {
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 32px;
    padding-top: 10px;
    color: gray;
}
.box7 .flight-search-box form {
    flex-basis: 800px;
}
.box7 .flight-title-tags {
    flex-basis: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: black;
    border-top: 2px solid white;
    font-weight: 800;
}
.box7 .flights-list {
    flex-basis: 375px;
    display: flex;
    flex-direction: column;
    /* border-bottom: 2px solid black; */
    /* border: 1px solid gray; */
}
.box7 .flights-list > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    font-weight: 500;
}
.box7 .flights-list > div {
    flex-basis: 60px;
    align-items: center;
}
.box7 .flight-image img {
    max-width: 95px;
    max-height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box7 .flight-image-1 img {
    max-width: 93px;
    max-height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box7 .flight-image-1 {
    flex-basis: 126px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 4px;
}
.box7 .flights-list .flight-image {
    flex-basis: 270px;
    display: flex;
    justify-content: center;
}
.box7 .flights-list .flight-image-1 {
    flex-basis: 270px;
    display: flex;
    justify-content: center;
}
.box7 .flight-text1 {
    flex-basis: 158px;
    color: #323233;
}
.box7 .flight-text2 {
    flex-basis: 155px;
    color: #323233;
}
.box7 .flight-text3 {
    flex-basis: 181px;
    color: #323233;
}
.box7 .flight-text4 {
    flex-basis: 162px;
    color: green;
    font-style: italic;
}
.box7 .flight-text5 {
    flex-basis: 140px;
    color: #323233;
}
.box7 .flight-text6 {
    flex-basis: 50px;
    color: #323233;
}
.box7 .time-at-the-moment {
    flex-basis: 20px;
    display: flex;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 12px;
    justify-content: end;
    color: white;
    background-color: black;
}
.box7 .time-at-the-moment .calender-icon {
    flex-basis: 20px;
}
.box7 .time-at-the-moment .current-date {
    flex-basis: 100px;
}
.box7 .time-at-the-moment .clock-icon {
    flex-basis: 20px;
}
.box7 .time-at-the-moment .current-time {
    flex-basis: 65px;
}
.box8 {
    grid-area: boxeigth;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-image: url(https://th.bing.com/th/id/OIG1.MrmMtNq1mIIWLG_hRvDM?w=1792&h=1024&rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-color: #42423e;
    flex-shrink: 1;
    margin-top: 20px;
    margin-left: 20px;
}
.box5 > ul {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 535px;
    display: flex;
    flex-direction: column;
    font-size: 16px !important;
    list-style-type: none;
    font-weight: bold;
}
.box5 > ul > li {
    padding: 35px 10px;
}
.box5 > ul *:hover {
    background-color: white;
    color: black;
    transition-delay: 2ms;
    border-left: 2px solid #323233;
}
@media (max-width: 500px){
    .box5 {
        display: none;
    }
    .container {
        margin: 0;
        grid-template-columns: minmax(100%, auto);
        grid-template-rows: minmax(50px, auto) minmax(50px, auto) minmax(100px, auto) minmax(50px, auto) minmax(50px, auto) minmax(100px, auto) minmax(50px, auto);
        grid-template-areas: 
        "boxone"
        "boxsix"
        "boxeigth"
        "boxtwo"
        "boxthree"
        "boxfour"
        "boxseven"
        ;
    }
    .buttonMenu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        background-color: transparent;
        border: 0;
    }
    .buttonMenu img {
        max-width: 20px;
        max-height: 20px;
    }
    .box1 {
        display: flex;
        justify-content: center;
    }
    .box6 {
        display: flex;
        justify-content: center;
    }
    .box8, .box4, .box3 {
        margin: 0;
    }  
    .box5.Main-Menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 0px;
    }
    
    
}

body > img:nth-of-type(1) {
    display: none;
   }

body {
    background-image: none;
    opacity: 1;
}

.box5 li {
    padding: 12px 5px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.box1 > .logo {
    flex-basis: 280px;
    padding-left: 50px;
}

.product-column-one, .product-column-two, .product-column-three {
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
}

.flex-layout-2 {
    display: flex;
    width: 100%;
    /* height: 500px; */
    /* padding: 40px 10px; */
    /* padding-bottom: 100px; */
    align-items: center;
    color: aliceblue;
}
.flex-layout-2 .item-one {
    flex-basis: 240px;
    background-image: url(https://i.imgur.com/3pJG0ag.jpeg);
    width: 25%;
    height: 230px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42423e;
}
.flex-layout-2 .item-two {
    flex-basis: 240px;
    background-image: url(https://i.imgur.com/W2nmALT.jpeg);
    width: 25%;
    height: 230px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42423e;
}
.flex-layout-2 .item-three {
    flex-basis: 240px;
    background-image: url(https://i.imgur.com/wdHTcys.jpeg);
    height: 230px;
    width: 25%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42423e;
}
.flex-layout-2 .item-four {
    flex-basis: 240px;
    background-image: url(https://i.imgur.com/cP8LBb2.jpeg);
    height: 230px;
    width: 25%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42423e;
}