@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 1170px;
    min-height: 1583px;
    color: blue;
}

.container {
    border-right: 1px solid gray;
    display: grid;
    position: relative;
    grid-template-rows: minmax(30px, 35px) minmax(40px, 80px) minmax(80px, 101px) minmax(300px, 530px);
    grid-template-columns: minmax(10px, 100px) minmax(200px,390px) minmax(200px, 460px) minmax(0px, 220px);
    height: auto;
    grid-template-areas: 
    "boxtwo boxtwo boxtwo boxtwo"
    "boxone boxfive boxfive boxsix"
    "boxfour boxfour boxfour boxfour"
    "boxthree boxthree boxseven boxseven";
}
.buttonMenu {
    display: none;
}
.box1 {
    grid-area: boxone;
    display: flex;
    justify-content: end;
}
.box2 {
    grid-area: boxtwo;
    display: flex;
}
.box2 .content1 {
    flex-basis: 600px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Montserrat";
    color: #034ea1;
    font-weight: bolder;
    font-style: italic;
    padding-bottom: 5px;
}
.box2 .content1 .facebook-icon {
    flex-basis: 51px;
    display: flex;
    justify-content: center;
    padding-left: 12px;
    color: #323233;
}
.box2 .content1 .twitter-icon {
    flex-basis: 35px;
    padding-left: 4px;
    color: #323233;
}
.box2 .content1 .instagram-icon {
    flex-basis: 34px;
    padding-top: 3px;
    color: #323233;
}
.box2 .content1 .hero-text {
    flex-basis: 208px;
    padding-top: 3px;
}
.box2 .content2 {
    flex-basis: 570px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: gray;
}
.box2 .content2 .email-icon {
    flex-basis: 24px;
    font-size: 14px;
    color: gray;
}
.box2 .content2 .email-address {
    flex-basis: 143px;
    font-size: 14px;
    font-weight: 500;
}
.box2 .content2 .call-icon {
    flex-basis: 26px;
    font-size: 14px;
    color: gray;
}
.box2 .content2 .call-number {
    flex-basis: 115px;
    font-size: 14px;
    font-weight: 500;
}
.box3 {
    grid-area: boxthree;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box4 {
    grid-area: boxfour;
    margin: 0;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    display: flex;
    justify-content: end;
}
.box5 {
    grid-area: boxfive;
    display: flex;
    background-color:#034ea1;
    align-items: center;
    color: white;
}
.box6 {
    grid-area: boxsix;
    background-color: #034ea1;
    font-size: 12px;
    color: aliceblue;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: end;
}
.box6 .RU-icon {
    flex-basis: 44px;
    padding-top: 3px;
}
.box6 .Search-Icon {
    flex-basis: 18px;
    display: flex;
    justify-content: center;
    padding-top: 4px;
}
.box7 {
    grid-area: boxseven;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 12px;
    border-left: 1px solid gray;
}
.box7 .AR-DEP-List {
    flex-basis: 52px;
    display: flex;
    font-size: 13px;
    color: black;
}
.AR-DEP-List .Departure {
    flex-basis: 220px;
    display: flex;
    align-items: center;
    background-color: #cccccc;
}
.AR-DEP-List .Departure i {
    flex-basis: 84px;
    display: flex;
    justify-content: end;
    padding-top: 4px;
}
.AR-DEP-List .Departure p {
    flex-basis: 84px;
    display: flex;
    justify-content: end;
    padding-top: 4px;
}
.AR-DEP-List .Arrival {
    flex-basis: 220px;
    display: flex;
    align-items: center;
}
.AR-DEP-List .Arrival i {
    flex-basis: 95px;
    display: flex;
    justify-content: end;
    padding-top: 4px;
}
.AR-DEP-List .Arrival p {
    flex-basis: 65px;
    display: flex;
    justify-content: end;
    padding-top: 4px;
}
.AR-DEP-List .Full-list {
    flex-basis: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-left: 3px;
}
.box7 .flight-search-box {
    flex-basis: 73px;
    background-color: #cccccc;
}
.box7 .flight-title-tags {
    flex-basis: 45px;
    font-size: 9px;
    font-weight: 1000;
    display: flex;
    align-items: center;
    padding-top: 7px;
    font-family: "Montserrat";
    color: white;
    background-color: #323233;
}
.box7 .flight-title-tags p:nth-child(1) {
    flex-basis: 125px;
    padding-left: 15px;
}
.box7 .flight-title-tags p:nth-child(2) {
    flex-basis: 80px;
}
.box7 .flight-title-tags p:nth-child(3) {
    flex-basis: 147px;
}
.box7 .flight-title-tags p:nth-child(4) {
    flex-basis: 80px;
}
.box7 .flight-title-tags p:nth-child(5) {
    flex-basis: 100px;
}
.box7 .flight-title-tags p:nth-child(6) {
    flex-basis: 60px;
    line-height: 15px;
}
.box7 .flight-title-tags p:nth-child(7) {
    flex-basis: 50px;
}

.box7 .flights-list {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
}
.box7 .flights-list .flights-1, .flights-2, .flights-3, .flights-4, .flights-5, .flights-6, .flights-7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    font-weight: 500;
}
.box7 .flights-list .flights-1 {
    flex-basis: 43px;
    padding-top: 10px;
}
.box7 .flights-list .flights-2 {
    flex-basis: 40px;
}
.box7 .flights-list .flights-3 {
    flex-basis: 40px;
    padding-top: 6px;
}
.box7 .flights-list .flights-4 {
    flex-basis: 42px;
    padding-top: 10px;
}
.box7 .flights-list .flights-5 {
    flex-basis: 41px;
}
.box7 .flights-list .flights-6 {
    flex-basis: 41px;
}
.box7 .flights-list .flights-7 {
    flex-basis: 35px;
    padding-top: 10px;
}

.box7 .flight-image {
    flex-basis: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
}
.box7 .flight-image-1 {
    flex-basis: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
}
.box7 .flight-text1 {
    flex-basis: 79px;
    color: #323233;
}
.box7 .flight-text2 {
    flex-basis: 146px;
    color: #323233;
}
.box7 .flight-text3 {
    flex-basis: 81px;
    color: #323233;
}
.box7 .flight-text4 {
    flex-basis: 99px;
    color: green;
    font-style: italic;
}
.box7 .flight-text5 {
    flex-basis: 60px;
    color: #323233;
}
.box7 .flight-text6 {
    flex-basis: 50px;
    color: #323233;
}
.box7 .flight-image img {
    max-width: 95px;
    max-height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box7 .flight-image-1 img {
    max-width: 93px;
    max-height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box7 .time-at-the-moment {
    flex-basis: 51px;
    display: flex;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 12px;
    justify-content: end;
    background-color: #cccccc;
}
.box7 .time-at-the-moment .calender-icon {
    flex-basis: 28px;
    font-size: 20px;
    padding-left: 3px;
    padding-bottom: 17px;
}
.box7 .time-at-the-moment .current-date {
    flex-basis: 58px;
    color: #323233;
    padding-top: 4px;
}
.box7 .time-at-the-moment .clock-icon {
    flex-basis: 27px;
    font-size: 20px;
    padding-left: 3px;
    padding-bottom: 15px;
}
.box7 .time-at-the-moment .current-time {
    flex-basis: 45px;
    color: #323233;
    padding-top: 4px;
}
.box7 .flight-search-box {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4px;
}
.box7 .flight-search-box .search-form {
    flex-basis: 535px;
    display: flex;
    justify-content: start;
}
.box7 .flight-search-box .search-form input {
    width: 100%;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: white;
    border: 0;
}
.box7 .flight-search-box .search-form form {
    flex-basis: 484px;
    padding-top: 2px;
}
.box7 .flight-search-box .search-flight-logo {
    flex-basis: 150px;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 33px;
    padding-top: 10px;
    color: gray;
}
.box5 > ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    list-style-type: none;
    padding-top: 2px;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 500px){
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 35px 80px 80px 80px 101px 530px 530px;
        grid-template-areas: 
        "boxone"
        "boxtwo"
        "boxfive"
        "boxsix"
        "boxthree"
        "boxfour"
        "boxseven";
    }
}
.JSCMAM {
    flex-basis: 338px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 35px;
}
.BISHKEK {
    flex-basis: 92px;
}
.OSH {
    flex-basis: 67px;
}
.ISSYK-KUL {
    flex-basis: 103px;
}
.KARAKOL {
    flex-basis: 98px;
}
.BATKEN {
    flex-basis: 139px;
}

.box8 {
    display: none;
}
.box1-logo {
    width: 87%;
    height: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    background-color: #034ea1;
}
.box1-logo img {
    font-size: medium !important;
}
.flex-layout-2 div {
    width: 100%;
}
.box4 .item-one {
    background-image: url(https://i.imgur.com/3pJG0ag.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-color: white;
}

.box4 .item-two {
    background-image: url(https://i.imgur.com/W2nmALT.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-color: white;
}

.box4 .item-three {
    background-image: url(https://i.imgur.com/wdHTcys.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-color: white;
}

.box4 .item-four {
    background-image: url(https://i.imgur.com/cP8LBb2.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-color: white;
}

.box4 .flex-layout-2 {
    display: flex;
    width: 99%;
    justify-content: space-evenly;
    color: #034ea1;
}

.box4 .flex-layout-2 > .item-two {
    flex-basis: 295px;
    padding-left: 2px;
}
.box4 .flex-layout-2 > .item-one {
    flex-basis: 295px;
    padding-left: 1px;
}
.box4 .flex-layout-2 > .item-three {
    flex-basis: 295px;
}
.box4 .flex-layout-2 > .item-four {
    flex-basis: 280px;
    padding-left: 16px;
}

.box3 > * {
    margin-left: 27px;
}

.box3 > div {
    display: flex;
}

.box3 .news-logo {
    flex-basis: 80px;
    display: flex;
    align-items: end;
    padding-bottom: 11px;
    color: #034ea1;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 12px;
    border-bottom: 3px solid #034ea1;
    width: 8.5%;
}
.box3 .News-section {
    flex-basis: 370px;
    display: flex;
    flex-direction: column;
}
.box3 .News-section > div {
    display: flex;
}

.box3 > .News-section .news-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 110px;
    max-height: 110px;
    padding-top: 7px;
}

.News-section > .product-column-one {
    flex-basis: 120px;
}
.News-section > .product-column-one .news-one-date, .news-two-date, .news-three-date{
    padding-top: 9px;
    padding-left: 7px;
    font-size: 11px;
    color: gray;
}
.News-section > .product-column-one .news-one-title, .news-two-title, .news-three-title {
    font-size: 13px;
    font-weight: bolder;
    padding-top: 7px;
    padding-left: 6px;
    color: #034ea1;
    font-family: "Montserrat";
    line-height: 20px;
}
.News-section > .product-column-two {
    flex-basis: 120px;
}

.News-section > .product-column-three {
    flex-basis: 130px;
    border-bottom: 2px solid gray;
}
.more-news-logo {
    flex-basis: 30px;
    font-size: 12px;
    font-weight: bolder;
    font-style: "Montserrat";
    display: flex;
    justify-content: end;
    align-items: end;
    color: #323233;
}