/* Starter Code */
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/b49zcb8j3yw.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container > * {
    border: 2px dashed blue;
}

/* Add CSS Grid to Parent .container */
.container {
    display: grid;
    grid-template-rows: 35px 82px 102px 540px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-areas: 
        "one one one one"
        "two five five six"
        "three three three three"
        "four four seven seven";
}


.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
